.sheet {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.sheet h5 {
    font-size: 12px;
    margin: 5px;
}

.cardI {
    margin: 30px;
    background: rgba(167, 167, 167, 0.419);
    border-radius: 3px;
}

.cardI img{
    border-radius: 2px;
    margin-bottom: 11px;
    margin-left: 15px;
    margin-right: 15px;
}

.linkref {
    color: white;
}

@media (max-width: 800px) {
    .sheet {
        flex-direction: column;
    }
    .cardI {
        margin: 20px;
        background: rgba(167, 167, 167, 0.419);
        border-radius: 5px;
        transform: scale(0.8);
    }
    .cardI h5 {
        height: 10px;
        margin-bottom: 35px;
        font-size: 22px;
    }
    .cardI img {
        margin: 20px;
        transform: scale(0.9);
    }
  }